<launch>
    <arg name="launch_world" default="false"/>
    <arg name="top_plate" default="false"/>
    <arg name="delay" default="0.0"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg launch_world)"/>

    <param name="base_model" command="$(find xacro)/xacro '$(find arm2d2_description)/urdf/base.urdf.xacro' top_plate:=$(arg top_plate)"/>

    <node name="spawn_base" pkg="gazebo_ros" type="spawn_model" launch-prefix="bash -c 'sleep $(arg delay); $0 $@'"
          args="-param base_model -urdf -model base"/>
</launch>