[submodule "ros_dev/nano/catkin_ws/src/rosbridge_suite-release"]
	path = ros_dev/nano/catkin_ws/src/rosbridge_suite-release
	url = https://github.com/aborger/rosbridge_suite-release.git
	branch = debian/melodic/bionic/rosbridge_server

