[submodule "marsha_ai/src/rllab"]
	path = marsha_ai/src/rllab
	url = https://github.com/rll/rllab.git
[submodule "marsha_ai/src/garage"]
	path = marsha_ai/src/garage
	url = https://github.com/rlworkgroup/garage.git
[submodule "marsha_ai/src/maml"]
	path = marsha_ai/src/maml
	url = https://github.com/cbfinn/maml.git
[submodule "marsha_ai/src/maml_rl"]
	path = marsha_ai/src/maml_rl
	url = https://github.com/cbfinn/maml_rl.git
