<launch>
    <arg name="ns" default="left"/>

    <include file="$(find marsha_core)/launch/satlab_net.machine"/>

    <rosparam file="$(find arm2d2)/config/poses.yaml" command="load"/>

    
    <include file="$(find arm2d2_hardware)/launch/arm2d2_hardware_bringup.launch">
        <arg name="machine" value="jet2"/>
        <arg name="ns" value="$(arg ns)"/>
    </include>
    

    <include file="$(find arm2d2_moveit_config)/launch/arm2d2_moveit_bringup.launch">
        <arg name="machine" value="jet2"/>
        <arg name="ns" value="$(arg ns)"/>
        <arg name="launch_rviz" value="true"/>
    </include>

    <node pkg="marsha_core" type="move_interface" name="move_interface" machine="jet2"/>
</launch>