<launch>
    <arg name="ns" default="left"/>
    <arg name="jets" default=""/>
    <arg name="launch_rviz" default="true"/>



    <rosparam file="$(find tundra_gripper)/config/poses.yaml" command="load"/>
    <rosparam file="$(find arm2d2)/config/poses.yaml" command="load"/>
    <rosparam file="$(find marsha_core)/config/PCS.yaml" command="load"/>

    <group ns="$(arg ns)">
        <include file="$(find marsha_core)/config/satlab_net.machine"/>

        <rosparam param="IK_timeout">0.07</rosparam>

        
        <include file="$(find arm2d2_hardware)/launch/arm2d2_hardware_bringup.launch">
            <arg name="machine" value="$(arg jets)"/>
            <arg name="ns" value="$(arg ns)"/>
        </include>
        

        <include file="$(find arm2d2_moveit_config)/launch/arm2d2_moveit_bringup.launch">
            <arg name="machine" value="$(arg jets)"/>
            <arg name="ns" value="$(arg ns)"/>
            <arg name="launch_rviz" value="$(arg launch_rviz)"/>
        </include>

        <node pkg="marsha_core" type="move_interface" name="move_interface" output="screen" respawn="false" machine="$(arg jets)"/>
    </group>
</launch>