<?xml version="1.0" ?>
<robot name="arm2d" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:arg name="top_plate" default="false"/>
<xacro:property name="long_l" value="0.02"/>
<xacro:property name="long_w" value="0.05"/>
<xacro:property name="long_h" value="0.279654"/>

<link name="world"/>
<!--
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="0.06861790086338357 -0.0835697992386399 0.07107579694115096"/>
    <mass value="4.519107238213137"/>
    <inertia ixx="0.059779" ixy="-0.0" ixz="0.0" iyy="0.062251" iyz="0.000956" izz="0.076317"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://arm2d2_description/meshes/base_plate.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://arm2d2_description/meshes/base_plate.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>
-->
<link name="base_link">
  <inertial>
    <origin xyz="-2.154281413321998e-06 0.0035387814754625734 -0.0056639470834143136" rpy="0 0 0"/>
    <mass value="1.5479093566761954"/>
    <inertia ixx="0.010238" iyy="0.01139" izz="0.021617" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0.0025" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arm2d2_description/meshes/base_plate.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0.0025" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arm2d2_description/meshes/base_plate.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>


<joint name="world_joint" type="fixed">
  <origin xyz="0 0.0025 0.078232" rpy="0 0 0"/>
  <parent link="world"/>
  <child link="base_link"/>
</joint>


<link name="gripper_mount_l">
  <inertial>
    <origin xyz="0.060099999999972134 -0.08246115124410087 0.038698562774923354" rpy="0 0 0"/>
    <mass value="0.06861748378285525"/>
    <inertia ixx="1.9e-05" iyy="1.9e-05" izz="1.7e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  
  <visual>
    <origin xyz="-0.0 3e-06 0.011329" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arm2d2_description/meshes/gripper_mount.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  
  <!--<collision>
    <origin xyz="-0.0 3e-06 0.011329" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arm2d2_description/meshes/gripper_mount.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>-->
</link>


<joint name="gripper_mount_l_joint" type="fixed">
  <origin xyz="-0.145 -8e-06 -0.008829" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="gripper_mount_l"/>
</joint>

<link name="gripper_mount_r">
  <inertial>
    <origin xyz="0.060099999999972134 -0.08246115124410087 0.038698562774923354" rpy="0 0 0"/>
    <mass value="0.06861748378285525"/>
    <inertia ixx="1.9e-05" iyy="1.9e-05" izz="1.7e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 3e-06 0.011329" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arm2d2_description/meshes/gripper_mount.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <!--<collision>
    <origin xyz="-0.0 3e-06 0.011329" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arm2d2_description/meshes/gripper_mount.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>-->
</link>

<joint name="gripper_mount_r_joint" type="fixed">
  <origin xyz="0.025 -8e-06 -0.008829" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="gripper_mount_r"/>
</joint>

<link name="soft_robotics">
  <visual>
    <origin xyz="0 0 0" rpy="1.57 0 0"/>
    <geometry>
      <!-- height is 0.125-->
      <mesh filename="package://arm2d2_description/meshes/soft_robotics.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </visual>
</link>

<joint name="srob_joint" type="fixed">
  <origin xyz="-0.03561 0.041939 0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="soft_robotics"/>
</joint>

<link name="camera_mount">
  <visual>
    <!-- z= 0.078232 - 0.01555 + 0.06985 - 0.005 = 0.100711-->
    <!-- middle of bp - dist to mount hole + dist between longeron holes - dist to mid of mount-->
    <origin xyz="0.0612 0.165 0.095" rpy="1.57 0 -1.57"/>
    <geometry>
      <mesh filename="package://arm2d2_description/meshes/camera_mount.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </visual>
</link>

<joint name="cam_joint" type="fixed">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="camera_mount"/>
</joint>

<link name="longeron_1">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="${long_l} ${long_w} ${long_h}"/>
    </geometry>
  </visual>
</link>

<joint name="longeron_1_j" type="fixed">
  <origin xyz="0.175 0 0.0616" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="longeron_1"/>
</joint>

<link name="longeron_2">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="${long_l} ${long_w} ${long_h}"/>
    </geometry>
  </visual>
</link>

<joint name="longeron_2_j" type="fixed">
  <origin xyz="-0.175 0 0.0616" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="longeron_2"/>
</joint>

<link name="longeron_3">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="${long_w} ${long_l} ${long_h}"/>
    </geometry>
  </visual>
</link>

<joint name="longeron_3_j" type="fixed">
  <origin xyz="0 0.1725 0.0616" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="longeron_3"/>
</joint>

<link name="longeron_4">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="${long_w} ${long_l} ${long_h}"/>
    </geometry>
  </visual>
</link>

<joint name="longeron_4_j" type="fixed">
  <origin xyz="0 -0.1775 0.0616" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="longeron_4"/>
</joint>


<xacro:if value="$(arg top_plate)">
  <link name="top_plate">
    <inertial>
      <origin rpy="0 0 0" xyz="-2.160592513816839e-06 0.006014994682341276 -0.0033018459554867265"/>
      <mass value="1.5433879121893925"/>
      <inertia ixx="0.010217" ixy="-0.0" ixz="0.0" iyy="0.011371" iyz="-0.0" izz="0.021576"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.068617 0.090846 -0.0"/>
      <geometry>
        <mesh filename="package://arm2d2_description/meshes/base_plate.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <!--
    <collision>
      <origin rpy="0 0 0" xyz="-0.068617 0.090846 -0.0"/>
      <geometry>
        <mesh filename="package://arm2d2_description/meshes/base_plate.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    -->
  </link>


  <joint name="top_plate_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.068617 -0.090846 0.211324"/>
    <parent link="base_link"/>
    <child link="top_plate"/>
  </joint>
</xacro:if>



</robot>
