<launch>

    <machine name="nano" address="192.168.155.22" user="aaron" password="Broncoorange1!" env-loader="/home/aaron/MARSHA/ros_dev/nano/catkin_ws/devel/env.sh"/>

    
    <param name="ROS_IP" type="str" value="192.168.155.16" />
    <param name="ROS_TCP_PORT" type="int" value="10000" />
    <param name="TCP_NODE_NAME" type="str" value="TCPServer" />
    <param name="TCP_BUFFER_SIZE" type="int" value="1024" />
    <param name="TCP_CONNECTIONS" type="int" value="10" />

    <param name="UNITY_IP" type="str" value="192.168.1.105" />
    <param name="UNITY_SERVER_PORT" type="int" value="5005" />

    <group ns="Link_0">

        <node pkg="marsha" name="server_endpoint" type="server_endpoint.py"/>

        <node machine="nano" pkg="marsha" name="pid" type="pid.py" output="screen">
            <param name="ROS_IP" value="192.168.155.22" />
        </node>
    </group>

</launch>
