<launch>       

    <arg name="machine" default=""/>
    <arg name="ns" default=""/>
    <arg name="launch_world" default="false"/>

    <include if="$(arg launch_world)" file="$(find gazebo_ros)/launch/empty_world.launch" />
    <include file="$(find marsha_core)/launch/satlab_net.machine"/>
    
    <group ns="gripper">

        <param name="robot_description" command="$(find xacro)/xacro '$(find tundra_gripper)/urdf/gripper.urdf.xacro' ns:=$(arg ns)" />
        <!-- One finger doenst work -->
        <!--<param name="robot_description" command="$(find xacro)/xacro '$(find ar_mini_description)/urdf/ar_gripper_gazebo.urdf.xacro' ns:=$(arg ns)" />-->
        <param name="robot_description_semantic" textfile="$(find tundra_gripper)/config/gripper_gazebo.srdf"/>


        <rosparam file="$(find tundra_gripper)/config/tundra_gazebo_controllers.yaml" command="load"/>

        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
            args="--namespace=/$(arg ns)/gripper /$(arg ns)/gripper/grip_position /$(arg ns)/gripper/joint_state_controller"/>

        <param name="moveit_controller_manager" value="moveit_simple_controller_manager/MoveItSimpleControllerManager"/>
        

        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

        <node name="joint_state_spawner" pkg="controller_manager" type="spawner"
            respawn="false" output="screen" ns="/$(arg ns)/gripper"
            args="joint_state_controller">
        </node>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
            respawn="false" output="screen" ns="/$(arg ns)/gripper">
            <param name="tf_prefix" value="$(arg ns)/gripper"/>
        </node>


        <node pkg="tf" type="static_transform_publisher" name="attach_gripper" args="0 0 0 0 0 0 /$(arg ns)/link_6 /$(arg ns)/gripper/gripper_link 100"/>

        <include file="$(find tundra_gripper)/launch/move_group.launch">
            <arg name="ns" value="$(arg ns)"/>
        </include>

        <node name="grasp_event_republisher" pkg="gazebo_grasp_plugin_ros" type="grasp_event_republisher"/>
        <node name="grasped_state_server" pkg="marsha_gazebo" type="grasped_state_server"/>

        <!-- TODO: move this file to tundra package on jetson -->
        <node name="grip_interface" pkg="marsha_core" type="grip_interface" respawn="false" output="screen" machine="$(arg machine)"/>

        <node if="$(arg launch_world)" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-param robot_description -urdf -model gripper" respawn="false" output="screen"/>

    </group>



</launch>

