<launch>
    <include file="$(find marsha_core)/launch/simulate.launch"/>

    <arg name="machine" default="jet2"/>

    <rosparam file="$(find marsha_ai)/config/dirs.yaml" command="load"/>


    

    <group>
        <node name="ai_node" pkg="marsha_ai" type="ai_node" machine="$(arg machine)"/>
        <node name="grasp_generator" pkg="marsha_ai" type="grasp_generator" machine="$(arg machine)"/>
        <node name="trajectory_predictor" pkg="marsha_ai" type="trajectory_predictor" machine="$(arg machine)" launch-prefix="bash -c 'sleep 5; $0 $a'"/>
        <node name="tensorboard" pkg="marsha_ai" type="spawn_tensorboard" machine="$(arg machine)"/>
    </group>

</launch>