
<launch>

    <arg name="manual_left" default="false"/>
    <arg name="manual_right" default="false"/>

    <machine name="jet1" address="jet" user="aaron" password="Broncoorange1!" env-loader="/home/aaron/catkin_ws/devel/env.sh"/>
    <machine name="jet2" address="nnu-engineering" user="jet" password="Rocksat" env-loader="/home/jet/catkin_ws/devel/env.sh"/>
    <machine name="satlab" address="NNU-satlab" user="satlab" password="Rocksat" env-loader="/home/satlab/catkin_ws/devel/env.sh"/>

    <rosparam file="$(find marsha_ai)/config/poses.yaml" command="load"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    
    <include file="$(find marsha_gazebo)/launch/spawn_pickup.launch"/>
    
    <include file="$(find marsha_ai)/launch/single_arm.launch">
        <arg name="machine" value="jet2"/>
        <arg name="display_machine" value=""/>
        <arg name="ns" value="left"/>
        <arg name="launch_rviz" value="$(arg manual_left)"/>
        <arg name="x_pos" value="0"/>
        <arg name="state_machine" value="true"/>
    </include>
    
    
    <include file="$(find marsha_ai)/launch/single_arm.launch">
        <arg name="machine" value="jet2"/>
        <arg name="display_machine" value=""/>
        <arg name="ns" value="right"/>
        <arg name="launch_rviz" value="$(arg manual_right)"/>
        <arg name="x_pos" value="0.5"/>
        <arg name="state_machine" value="true"/>
    </include>
    

    <node pkg="marsha_gazebo" type="reset" name="reset"/>

    <node pkg="marsha_gazebo" type="object_location" name="object_location" args="left_ar3::link_6"/>
    
    
    <node pkg="tf" type="static_transform_publisher" name="depth_camera_tf" args="-0.75 0 0.25 -1.57 3.14 -1.57 left/world_base /left/camera_link 100"/>

 
</launch>
