<launch>
    <arg name="machine" default=""/>
    <arg name="display_machine" default=""/>
    <arg name="ns" default="left"/>
    <arg name="launch_rviz" default="true"/>

    <group ns="$(arg ns)">
        <include file="$(find ar3_gazebo)/launch/ar3L_gazebo_bringup.launch">
            <arg name="launch_world" value="false"/>
            <arg name="ns" value="$(arg ns)"/>
        </include>

        <node name="world_transform" pkg="ar3_gazebo" type="tf_world_transform.py"/>

        <include file="$(find ar3_moveit_config)/launch/ar3_moveit_bringup.launch">
            <arg name="launch_rviz" value="$(arg launch_rviz)"/>
            <arg name="machine" value="$(arg machine)"/>
            <arg name="display_machine" value="$(arg display_machine)"/>
            <arg name="ns" value="$(arg ns)"/>
        </include>

        <node name="move_group_node" pkg="marsha_ai" type="move_interface" respawn="false" output="screen" machine="$(arg machine)"/>




        <node name="state_machine" pkg="marsha_ai" type="cmd_state_machine" machine="$(arg machine)" if="$(eval arg('launch_rviz') == false)"/>


        <node name="get_state" pkg="marsha_ai" type="get_state" machine="$(arg machine)" if="$(eval arg('launch_rviz') == true)"/>
        <!--<node name="ai_node" pkg="marsha_ai" type="ai_node" output="screen" machine="$(arg machine)" if="$(eval arg('launch_rviz') == false)"/>-->
    </group>
</launch>