<launch>

    <arg name="train" default="true"/>
    <arg name="eval" default="true"/>
    <arg name="cont" default="true"/>


    <rosparam file="$(find marsha_ai)/config/hyperparameters.yaml" command="load"/>
    <rosparam file="$(find marsha_ai)/config/dirs.yaml" command="load"/>
    
    <include file="$(find marsha_core)/launch/simulate.launch"/>


    <node name="tensorboard" pkg="marsha_ai" type="spawn_tensorboard" machine="jet1"/>
    <node name="ai_node" pkg="marsha_ai" type="ai_node" output="screen" ns="left" machine="jet1" args="$(arg train) $(arg cont) $(arg eval)"/>
</launch>