<launch>
  
  <arg name="machine" default="jet1"/>
  <arg name="ns" default="left"/>
  <arg name="launch_rviz" default="true"/>
  <arg name="launch_world" default="true"/>
  <arg name="include_arm_base" default="true"/>
  

  

  <group ns="$(arg ns)">
    <rosparam param="IK_timeout">0.1</rosparam>
    <rosparam param="balls_remaining">2</rosparam>

    <include file="$(find arm2d2)/launch/arm2d2_gazebo_bringup.launch">
      <arg name="ns" value="$(arg ns)"/>
      <arg name="launch_world" value="$(arg launch_world)"/>
      <arg name="include_arm_base" value="$(arg include_arm_base)"/>
    </include>

    <include file="$(find arm2d2_moveit_config)/launch/arm2d2_moveit_bringup.launch">
      <arg name="launch_rviz" value="$(arg launch_rviz)"/>
      <arg name="machine" value="$(arg machine)"/>
      <arg name="ns" value="$(arg ns)"/>
    </include>

    <node name="move_interface" pkg="marsha_core" type="move_interface" respawn="false" output="screen" machine="$(arg machine)"/>
    <node name="fold_interface" pkg="arm2d2" type="folding" machine="$(arg machine)"/>

    <include file="$(find tundra_gripper)/launch/gripper.launch">
      <arg name="machine" value="$(arg machine)"/>
      <arg name="ns" value="$(arg ns)"/>
    </include>
  </group>


</launch>
