<launch>
    
    <arg name="num_arms" default="1"/>
    <arg name="launch_rviz" default="false"/>

    <include file="$(find marsha_core)/launch/satlab_net.machine"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>


    <rosparam file="$(find arm2d2)/config/poses.yaml" command="load"/>


    <include file="$(find arm2d2)/launch/arm2d2.launch" if="$(eval arg('num_arms') >= 1)">
        <arg name="ns" value="left"/>
        <arg name="machine" value="jet2"/>
        <arg name="launch_rviz" value="$(arg launch_rviz)"/>
    </include>

    <include file="$(find arm2d2)/launch/arm2d2.launch" if="$(eval arg('num_arms') == 2)">
        <arg name="ns" value="right"/>
        <arg name="machine" value="jet2"/>
        <arg name="launch_rviz" value="$(arg launch_rviz)"/>
    </include>

    <node ns="left" name="unfold" pkg="arm2d2" type="unfold" args="home" machine="jet2"/>
    <node ns="right" name="unfold" pkg="arm2d2" type="unfold" args="home" machine="jet2"/>

    <include file="$(find arm2d2_description)/launch/base.launch">
        <arg name="launch_world" value="false"/>
        <arg name="top_plate" value="true"/>
        <arg name="delay" value="15"/>
    </include>

</launch>