<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ar-mini">

    <xacro:include filename="$(find ar3_description)/urdf/ar3_gazebo.urdf.xacro"/>

    <xacro:include filename="$(find marsha_description)/urdf/gripper.urdf.xacro"/>

    <joint name="gripper_joint" type="fixed">
        <parent link="link_6"/>
        <child link="palm"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

</robot>