<robot name="simple_box2">
  <macro name="box_inertia" params="m x y z">
    <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
              iyy="${m*(x*x+z*z)/12}" iyz = "0"
              izz="${m*(x*x+z*z)/12}" /> 
  </macro>
  <link name="my_box2">
    <inertial>
      <origin xyz="0 0.5 0.2" /> 
      <mass value="1.0" />
      <box_inertia m="1.0" x="0.4" y="0.2" z="0.4"/>
    </inertial>
    <visual>
      <origin xyz="0 0.5 0.2"/>
      <geometry>
        <box size="0.4 0.2 0.4" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.5 0.2"/>
      <geometry>
        <box size="0.4 0.2 0.4" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="my_box2">
    <material>Gazebo/Blue</material>
  </gazebo>
</robot>