  <link
    name="actuator_mount">
    <visual>
        <origin
         xyz="0 0 0"
         rpy="0 0 0" />
        <geometry>
          <mesh scale="10 10 10"
            filename="package://marsha_description/meshes/actuator_mount.STL" />
        </geometry>
        <material
         name="">
         <color
         rgba="1 1 0 1" />
        </material>
    </visual>
    <collision>
        <origin
         xyz="0 0 0"
         rpy="0 0 0" />
        <geometry>
           <mesh
             filename="package://marsha_description/meshes/actuator_mount.STL" />
        </geometry>
    </collision>
  </link>
  <joint
    name="joint_7"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0"/>
    <parent
        link="link_6"/>
    <child
        link="actuator_mount"/>
    <axis
        xyz="1 0 0"/>
  </joint>