<launch>
    <machine name="MSI" address="192.168.155.16" user="borge" password="Broncoorange4$" env-loader="C:\\Users\\borge\\Ros\\catkin_ws\\devel\\env.bat"/>
    <machine name="satlab" address="NNU-satlab" user="satlab" password="Rocksat" env-loader="/home/satlab/catkin_ws/devel/env.sh"/>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>


    <node pkg="marsha" name="log_listener" type="log_listener.py"/>
    <node pkg="marsha" name="listener" type="listener.py"/>

    <include file="$(find marsha)/launch/nnTrainer.launch">
        <arg name="machine" value="MSI"/>
    </include>

    <node pkg="marsha" name="encoder" type="encoder.py"/>
    <node pkg="marsha" name="motor" type="motor.py"/>
    <node pkg="marsha" name="pid" type="pid.py"/>

</launch>