<?xml version="1.0"?>
<launch>

    <include file="$(find panda_moveit_config)/launch/demo_gazebo.launch" />
    

    <node name="spawn_box1" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find marsha_description)/urdf/box1.urdf -urdf -z 0 -model box1" />

    <node name="spawn_box2" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find marsha_description)/urdf/box2.urdf -urdf -z 0 -model box2" />

    <node name="spawn_pickup_object" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find marsha_description)/urdf/pickup_object.urdf -urdf -z 1 -model object1" />

    <node name="grasp_event_republisher" pkg="gazebo_grasp_plugin_ros" type="grasp_event_republisher"/>

    <arg name="node_start_delay" default="1.0" />  
    <node name="listener" pkg="roscpp_tutorials" type="listener" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />

    <!--<node name="pick_and_place" pkg="moveit_tutorials" type="pick_place_tutorial"/>-->

</launch>
