<?xml version="1.0"?>
<launch>


    <param name="pickup_object_description" command="$(find xacro)/xacro '$(find marsha_description)/urdf/sphere.urdf.xacro'
        object_name:=pickup_object mass:=0.011 origin:='0 0 0' radius:=0.022"/>
                                        <!-- -0.25 -0.05 0 -->

    <node name="spawn_pickup_1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param pickup_object_description -x -0.25 -y -0.05 -z 0.07 -model pickup_object" respawn="false" output="screen"/>
</launch>

    <!-- Old commands that may be needed for reference later -->

    <!--<node pkg="rosservice" type="rosservice" name="delete_pickup" args="call /gazebo/delete_model pickup_box"/>-->
    <!--<node pkg="rosservice" type="rosservice" name="delete_box" args="call /gazebo/delete_model box1"/>-->

        <!--<param name="box1_description" command="$(find xacro)/xacro '$(find marsha_description)/urdf/box.urdf.xacro'
    box_name:=box1 mass:=1.0 origin:='-0.25 0 0' x:=0.2 y:=0.4 z:=0.05 static:=true"/>-->

    <!--<node name="spawn_box1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param box1_description -z 0 -model box1" respawn="false" output="screen"/>-->