<?xml version="1.0"?>
<launch>

    <node pkg="rosservice" type="rosservice" name="delete_pickup" args="call /gazebo/delete_model pickup_box"/>
    <node pkg="rosservice" type="rosservice" name="delete_box" args="call /gazebo/delete_model box1"/>

    <param name="pickup_box_description" command="$(find xacro)/xacro '$(find marsha_description)/urdf/box.urdf.xacro'
        box_name:=pickup_box mass:=0.5 origin:='-0.25 -0.1 0' x:=0.04 y:=0.2 z:=0.04"/>
                                        <!-- -0.25 -0.1 0 -->

    <param name="box1_description" command="$(find xacro)/xacro '$(find marsha_description)/urdf/box.urdf.xacro'
    box_name:=box1 mass:=1.0 origin:='-0.25 0 0' x:=0.2 y:=0.4 z:=0.05 static:=true"/>

    <node name="spawn_box1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param box1_description -z 0 -model box1" respawn="false" output="screen"/>

    <node name="spawn_pickup_box" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param pickup_box_description -z 0.07 -model pickup_box" respawn="false" output="screen"/>

</launch>