<launch>

    <rosparam param="mission_complete">false</rosparam>
    <group ns="right">
	<rosparam param="balls_remaining">2</rosparam>
        <node pkg="marsha_core" name="right_pcs" type="right_pcs" output="screen"/>
        <node pkg="marsha_core" name="te_detect" type="te_detect" output="screen"/>
        <node pkg="marsha_core" name="rbf_detect" type="rbf_detect" output="screen"/>
        <node pkg="marsha_core" name="green_led" type="led_cmd" output="screen"/>
        <node pkg="marsha_core" name="red_led" type="led_cmd" output="screen"/>

        <!-- <node pkg="marsha_core" name="record_longeron" type="record_longeron" output="screen"/>-->

    </group>
    
    <node pkg="marsha_detection" name="record" type="record" output="screen"/>
    
    

</launch>


