<!-- Note camera plugin is in urdf which should be made optional -->
<!-- Need to make launch file for testing cameras
-->


<launch>
    
    <arg name="num_arms" default="1"/>
    <arg name="launch_rviz" default="false"/>

    <include file="$(find marsha_core)/launch/satlab_net.machine"/>

    <rosparam file="$(find marsha_core)/config/poses.yaml" command="load"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch" />

    <include file="$(find marsha_gazebo)/launch/spawn_pickup.launch"/>

    <include file="$(find marsha_core)/launch/single_arm.launch" if="$(eval arg('num_arms') >= 1)">
        <arg name="machine" value="jet1"/>
        <arg name="ns" value="left"/>
        <arg name="x_pos" value="0"/>
        <arg name="launch_rviz" value="$(arg launch_rviz)"/>
    </include>

    <include file="$(find marsha_core)/launch/single_arm.launch" if="$(eval arg('num_arms') == 2)">
        <arg name="machine" value="jet1"/>
        <arg name="ns" value="right"/>
        <arg name="x_pos" value="0.5"/>
    </include>

    <node pkg="marsha_gazebo" type="object_location" name="object_location"/>

    <node pkg="marsha_gazebo" type="reset" name="reset" args="launch" launch-prefix="bash -c 'sleep 2; $0 launch'"/>

    <node pkg="tf" type="static_transform_publisher" name="depth_camera_tf" args="-0.75 0 0.25 -1.57 3.14 -1.57 left/world_base /left/camera_link 100"/>
</launch>