
<launch>
    <machine name="jet1" address="192.168.155.22" user="aaron" password="Broncoorange1!" env-loader="/home/aaron/catkin_ws/devel/env.sh"/>
    <machine name="jet2" address="192.168.155.12" user="jet" password="Rocksat" env-loader="/home/jet/catkin_ws/devel/env.sh"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    
    <include file="$(find marsha)/launch/single_arm.launch">
        <arg name="machine" value="jet1"/>
        <arg name="ns" value="left"/>
        <arg name="launch_rviz" value="false"/>
    </include>

    <include file="$(find marsha)/launch/single_arm.launch">
        <arg name="machine" value="jet2"/>
        <arg name="ns" value="right"/>
        <arg name="launch_rviz" value="false"/>
        <arg name="x_pos" value="0.5"/>
    </include>

    <!--<node pkg="tf" type="static_transform_publisher" name="ime_slam_camera_tf" args="0 0 0 -3.14 -0 -1.55 /world /camera_link 100"/>-->


 
</launch>
